{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Lessons (Version 4.0)" />
  <meta name="subfile" content="vc/index.html" />
  <meta name="subfile" content="shell/index.html" />
  <meta name="subfile" content="python/index.html" />
  <meta name="subfile" content="test/index.html" />
  <meta name="subfile" content="setdict/index.html" />
  <meta name="subfile" content="regexp/index.html" />
  <meta name="subfile" content="databases/index.html" />
  <meta name="subfile" content="access/index.html" />
  <meta name="subfile" content="data/index.html" />
  <meta name="subfile" content="oop/index.html" />
  <meta name="subfile" content="invperc/index.html" />
  <meta name="subfile" content="make/index.html" />
  <meta name="subfile" content="sysprog/index.html" />
  <meta name="subfile" content="spreadsheets/index.html" />
  <meta name="subfile" content="matrix/index.html" />
  <meta name="subfile" content="matlab/index.html" />
  <meta name="subfile" content="media/index.html" />
  <meta name="subfile" content="softeng/index.html" />
  <meta name="subfile" content="essays/index.html" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('lessons')}}{% endblock navhighlight %}

{% block content %}

  <div align="center">
    <img src="{{root_path}}/img/bootcamps/2012-11-scripps.png" alt="Boot Camp at the Scripps Institute, 2012" />
  </div>

  <div class="toc">
    <h3>Contents</h3>
    <ul>
      {% for lesson in page.children %}
        <li><a href="#{{lesson.slug}}">{{lesson.title}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <p>Material from <a href="{{root_path}}/3_0/index.html">Version 3</a> is also available.</p>

  {% for lesson in page.children %}
    <div id="{{lesson.slug}}">
      <h3><a href="{{lesson.original}}">{{lesson.title}}</a></h3>
      {% if lesson.keypoints %}
        <ul>
          {{lesson.keypoints|safe}}
        </ul>
      {% endif %}
    </div>
  {% endfor %}

{% endblock content %}
