{% extends "_lesson.html" %}

{% block file_metadata %}
  <meta name="title" content="Databases" />
  <meta name="subfile" content="intro.html" />
  <meta name="subfile" content="select.html" />
  <meta name="subfile" content="filter.html" />
  <meta name="subfile" content="sort.html" />
  <meta name="subfile" content="aggregation.html" />
  <meta name="subfile" content="join.html" />
  <meta name="subfile" content="null.html" />
  <meta name="subfile" content="nested.html" />
{% endblock file_metadata %}

{% block introduction %}
  <div class="overview">
    <p>
      A database is the right tool for structuring and managing many kinds of complex data.
      Thousands of programmer-years have gone into their design and implementation
      so that they can handle very large datasets&mdash;terabytes or more&mdash;quickly and reliably.
      Queries allow for great flexibility in how you are able to analyze your data,
      which makes databases a good choice when you are exploring data.
    </p>
  </div>
  <div class="well well-small">
    <ul class="keypoints">
      <li>Use a database to store and manage regular data (and make your data regular so that it can be managed).</li>
      <li>Use queries to express <em>what</em> you want, and let the computer figure out <em>how</em> to get it.</li>
      <li>Remember to account for gaps in your data.</li>
    </ul>
  </div>
{% endblock introduction %}
